.code-editor {
	.editor-main {
		padding: 5px 5px 5px 10px;
		font-size: 16px;
		font-family: 'Courier New', Courier, monospace;
	}

	.sidebar-pane {
		.title {
			font-size: 11px;
			padding-left: 5px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	.bottom-pane {
		.spaces-resize-handle {
			border-top: 2px #333 solid;
		}

		button {
			margin-right: 10px;
			border: none;
			background-color: #555;
			color: white;
			padding: 5px 15px;
		}
	}

	.side-bar {
		background-color: #333 !important;
	}
}