.layers-demo {
	label {
		margin-right: 20px;
	}

	aside {
		opacity: 0.7;
		background-color: #e0eeee;
		transition: width 0.5s;

		.description {
			position: relative;
			top: -200px;
		}
	}

	section {
		opacity: 0.7;
		background-color: #e0e0ee;
		transition: left 0.5s;

		.description {
			position: relative;
			top: -200px;
		}
	}

	nav {
		background-color: #eee0e0;
		transition: width 0.5s;

		.description {
			position: relative;
			top: 200px;
		}
	}

	main {
		background-color: #eee;
		transition: left 0.5s;
		opacity: 0.7;
	}

	.description {
		color: black;
		font-size: 120%;
		padding: 30px;
	}
}