.layers-demo {
	aside {
		opacity: 0.7;
		background-color: #e0eeee;
	}

	nav {
		background-color: #eee0e0;
	}

	main {
		background-color: #eee;
	}

	.description {
		color: black;
		font-size: 120%;
	}
}