.resizable-demo {
	.gray {
		background-color: #eee;
	}

	.blue {
		background-color: #e0eeee;
	}

	.red {
		background-color: #eee0e0;
	}

	.white {
		background-color: white;
	}

	.description {
		color: black;
		font-size: 120%;
	}
}