.scrollable-demo {
	header > .spaces-space-inner {
		background-color: black;
		color: white;
		font-size: 140%;
		font-weight: 700;
		padding: 15px;
	}

	main > .spaces-space-inner {
		padding: 0 25px 25px 25px;
		font-size: 130%;
		color: black;
	}
}