.windows-demo {
    .desktop {
        background-color: #091731;
    }
    .window {
        background-color: #eee0e0;
        
        .title-bar {
            cursor: move;
            margin: 0px;
            background-color: navy;
            .description {
                color: white;
            }
        }

        .content {
            margin: 2px;
            background-color: white;
        }
    }

	.description {
		color: black;
		font-size: 120%;
	}
}