.spaces-space {
	position: absolute;
	overflow: hidden;
	z-index: 1;

	.spaces-space-inner {
		z-index: 1;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}

	&.scrollable {
		.spaces-space-inner {
			overflow: auto;
		}
	}
}