body {
	font-size: 18px;
}

h1 {
	margin: 0;
	padding: 0 0 5px 0;
}

h2 {
	padding-top: 15px;
	font-size: 22px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;

	&.sidebar-header {
		margin-top: 20px;
		padding-top: 0;
		border-bottom: none;
	}
}

h3 {
	margin: 15px 0;

	&.sidebar-header {
		margin-top: 0;
		margin-bottom: 10px;
		img {
			padding-left: 5px;
		}
	}
}

ul {
	li {
		margin-bottom: 15px;
	}

	li:last-child {
		margin-bottom: 0;
	}
}

pre {
	background-color: #f8f8f8 !important;
	margin: 0 0 15px 0;
	padding: 25px !important;
}

.main {
	.spaces-fixedsize-layout {
		margin: 0 25px;
		font-size: 14px;
	}
}

.mobileDesc, .mobile {
	display: none;
}

.ant-menu {
	.ant-menu-item {
		font-size: 16px !important;
	}
}

.ant-anchor-link {
	line-height: 1.5;
}

.ant-anchor-link-title {
	font-size: 18px !important;
}

.ant-tabs-tabpane {
	font-size: 18px !important;
}

@media (max-width: 800px)
{
	pre {
		font-size: 80%;
	}

	#forkongithub {
		display: none;
	}

	.mobile {
		display: block;
	}

	.description {
		font-size: 80%;

		.desc {
			display: none;
		}

		.mobileDesc {
			display: inline;
		}
	}

	.sidebar {
		display: none;
	}

	.all-content {
		top: 0px !important;
	}

	.main {
		position: fixed;
		left: inherit !important;
		right: inherit !important;
		top: 80px !important;
		bottom: inherit !important;
		height: inherit !important;
		width: 100% !important;
		overflow: auto !important;
	}
}