body {
	font-size: 18px;
}

h1 {
	margin: 0;
	padding: 0 0 5px 0;
}

h2 {
	padding-top: 15px;
	font-size: 22px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;

	&.sidebar-header {
		margin-top: 20px;
		padding-top: 0;
		border-bottom: none;
	}
}

h3 {
	margin: 15px 0;

	&.sidebar-header {
		margin-top: 0;
		margin-bottom: 10px;
		img {
			padding-left: 5px;
		}
	}
}

ul {
	li {
		margin-bottom: 15px;
	}

	li:last-child {
		margin-bottom: 0;
	}
}

pre {
	background-color: #f8f8f8 !important;
	margin: 0 0 15px 0;
	padding: 25px !important;
}

.main {
	.spaces-fixedsize-layout {
		margin: 0 25px;
		font-size: 14px;
	}
}

.mobileDesc, .mobile {
	display: none;
}

.ant-menu {
	.ant-menu-item {
		font-size: 16px !important;
	}
}

.ant-anchor-link {
	line-height: 1.5;
}

.ant-anchor-link-title {
	font-size: 18px !important;
}

.ant-tabs-tabpane {
	font-size: 18px !important;
}

::-webkit-scrollbar{
	width: 5px;
}

::-webkit-scrollbar-track-piece{
	background-color: #FFF;
}

::-webkit-scrollbar-thumb{
	background-color: #CBCBCB;
	outline: 2px solid #FFF;
	outline-offset: -2px;
	border: .1px solid #B7B7B7;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #909090;
}

@media (max-width: 800px)
{
	pre {
		font-size: 80%;
	}

	#forkongithub {
		display: none;
	}

	.mobile {
		display: block;
	}

	.description {
		font-size: 80%;

		.desc {
			display: none;
		}

		.mobileDesc {
			display: inline;
		}
	}

	.sidebar-container {
		display: none !important;
	}

	.docs-main-container {
		left: 0 !important;
		top: 0 !important;
	}

	.all-content {
		top: 0px !important;
	}
}